body {
 background-color: rgb(128,128,128);
}

.homepage {
 margin: 1in;
/* border: solid 3px white; */
 padding: 0.25in;
/* background-color: rgba(230,255,255,0.95); */
/* background-color: white; */
 background-color: #eef8ff;
/* border: 25px solid rgb(230,255,255); */
}

.research {
 margin: 1in;
/* border: solid 3px white; */
 padding: 0.25in;
/* background-color: rgba(230,255,255,0.95); */
/* background-color: white; */
 background-color: #eef8ff;
/* border: 25px solid rgb(230,255,255); */
}

.teaching {
 margin: 1in;
/* border: solid 3px white; */
 padding: 0.25in;
/* background-color: rgba(230,255,255,0.95); */
/* background-color: white; */
 background-color: #eef8ff;
/* border: 25px solid rgb(230,255,255); */
}

.other {
 margin: 1in;
 border: solid 3px white;
 padding: 0.5in;
 background-color: rgba(230,255,255,0.95);
}

img {
 border-radius: 3%;
/* border: 5px solid rgb(0,39,76); */
 border: 3px solid black;
 margin-left: 0.75cm;
 margin-bottom: 0.25cm;
 margin-top: 0.25cm;
 float: right;
}


h1 {
 font-family: "Bungee Shade", cursive;
 text-align: left;
}

/* .Links {
 display: inline;
 margin: 0.75cm;
 text-align: left;
} */

.Links a {
/* text-decoration: none; */
 /*text-transform: uppercase;*/
/* text-align: left; */
}

.homelink {
 /*text-transform: uppercase;*/
}

.Northwestern {
 color: rgb(78,42,132);
 font-variant: small-caps;
 font-size: 26px;
}

.Michigan {
 color: rgb(0,39,76);
 font-variant: small-caps;
 font-size: 26px;
}

.otherwork {
 font-size: 18px;
 font-weight: bold;
}

a:visited {
 color: blue;
}

a:hover {
 color: green;
}



